/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

/* NAVBAR */
.navbar {
  background-color: whitesmoke;
  font-family: 'Space Mono', monospace;
  padding: 1rem;
}

.navbar-nav {
  gap: 2rem;
}

.navbar-nav a {
  color: grey;
  position: relative; /* fix para que ::after se posicione bien */
  display: inline-block;
  text-decoration: none;
}

/*para el hover de estrella*/
.navbar-nav a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1.2rem; /* distancia del texto */
  opacity: 0;
  transform: translateY(-50%); /* centra verticalmente */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-nav a:hover::after {
  content: '✦';
  opacity: 1;
  color: palevioletred;
  transform: translateY(-50%) translateX(3px); /* aparece con desplazamiento */
}

/* HEADER y HERO */
.header {
  padding-bottom: 2rem;
}

.header img {
  width: 100%;
  max-height: 400px; /* controlar altura */
  object-fit: cover; /* mantener proporción y recorta exceso */
}

.hero {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

/* FOOTER */
.footer {
  background-color: whitesmoke;
}

.footer p {
  text-align: center;
  padding: 1rem;
  font-family: 'Space Mono', monospace;
  font-weight: 400; /* o 700 */
  font-size: small;
  color: grey;
}

/* TEXTO */
h1,
h2 {
  color: whitesmoke;
  font-family: 'Space Mono', monospace;
  font-weight: 700; /* o 700 */
}

h1 {
  padding-top: 1rem;
}

p {
  color: gray;
  font-family: 'Space Mono', monospace;
  font-weight: 400; /* o 700 */
}

/* IMÁGENES */
.portfolio-img {
  width: 100%;
  object-fit: cover; /* recorta */
}

/* MEDIA QUERIES */

/* Tablet */
@media (min-width: 768px) {
  .hero {
    text-align: center; /* queda centrado */
    width: auto;
  }
}

/* Celu */
@media (max-width: 767px) {
  .hero {
    font-size: 1.8rem;
  }
  .hero br {
    display: block;
  }
}
